@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-secondary {
    @apply rounded-lg border-2 border-primary-100 bg-primary-100 px-4 py-1 font-Halcom
    font-semibold text-primary-300 transition-all hover:border-primary-200 hover:bg-primary-100 active:scale-95;
  }

  .btn-primary {
    @apply w-full max-w-52 rounded-md bg-primary-500 py-1 font-Raleway 
    text-lg font-bold text-light-200 transition-all hover:scale-105
    hover:bg-slate-400 hover:text-dark-500 active:scale-95 active:bg-primary-200;
  }

  .field {
    @apply flex flex-col items-start justify-start;
  }

  .label {
    @apply font-Raleway font-semibold text-dark-500;
  }

  .input {
    @apply border-b-2 border-light-300 bg-transparent outline-none;
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
